<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>About me | levy's sandbox</title>

  <%= stylesheet_link_tag "css/main.css", "css/about_me.css" %>

  <script>
  window.onload = function()
  {

    var items = document.querySelectorAll('.timeline li');
    console.log(items)
     
    function isElementInViewport(el)
    {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc()
    {
      for (var i = 0; i < items.length; i++)
      {
        if (isElementInViewport(items[i]))
        {
          items[i].classList.add("in-view");
        }
      }
    }
     
    window.addEventListener("load", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  }
  </script>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <div class='wrapper'>
    <div id="circle-shape-text">
      <img class="curve" src="/images/avatar.png">
      <p>
      Currently a <b>Graduate Student</b> at the <b><a href="http://neuron.eei.eng.osaka-u.ac.jp/index_en.html">Biosystems and Devices Area
</a></b> at the <b><a href="http://www.osaka-u.ac.jp/en">Osaka University</a></b>, Japan. Majored in <b>Control and Automation Engineering</b> at the <b><a href="http://www.unb.br">University of Brasilia</a></b> (2016) and acted as a student researcher at the <b><a href="https://www.facebook.com/LARAUnB">Laboratório de Automação e Robótica</a></b> (2016). Co-founded and acted as Chair at <b><a href="http://sites.ieee.org/sb-unb/capitulos/embs/">EMBS Student Chapter (Senses)</a></b> at the University of Brasilia (2015). Went through a three-month internship experience at the <b>Center for Neural Engineering</b> at the <b><a href="http://www.utah.edu/">University of Utah</a></b> (2015). Studied Biomedical Engineering during a one-year exchange at <b><a href="https://www.jhu.edu/">Johns Hopkins University</a></b> (2013). Also, worked as a summer intern at <b><a href="http://www.i-biomed.com/">Infinite Biomedical Technologies</a></b> (2013).
      <br>
      <br>
      I have loved Biomedical Engineering since I was a kid and I have always <b>dreamed about contributing to groundbreaking projects</b> that could significantly improve people’s lives. More specifically, interested in studying neural signals in <b>visual cortex area</b>, especially <b>current steering</b> and <b>phosphene perception</b> temporal resolution.
      </p>
    </div>
  </div>

</body>

<footer><%= render "layouts/footer" %></footer>

</html>