<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css" %>
  <title>Welcome! | levy's sandbox</title>

</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <div class='wrapper'>
    <header class="post-header">
      <center><h1 class="post-title">Trigger Me! (under construction)</h1></center>
    </header>
    <div class="post-content">

      <center><video autoplay></video></center>

      <script>
        var errorCallback = function(e)
        {
          console.log('Reeeejected!', e);
        };

        // Not showing vendor prefixes.
        navigator.getUserMedia({video: true, audio: false}, function(localMediaStream)
        {
          var video = document.querySelector('video');
          video.src = window.URL.createObjectURL(localMediaStream);

          // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
          // See crbug.com/110938.
          video.onloadedmetadata = function(e)
          {
            // Ready to go. Do some stuff.
          };
        }, errorCallback);
      </script>

  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>