<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css" %>
  <title>Welcome! | levy's sandbox</title>

</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <script src="/assets/javascripts/triggered.js"></script>
  <div class='wrapper'>
    <header class="post-header">
      <center><h1 class="post-title">Trigger Me! (under construction)</h1></center>
    </header>
    <div class="post-content">
      <center><video autoplay></video>
      <br>
      <button type='button' id="record" onclick="record()">RECORD</button>
      </center>
    </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>